<div class="">
    <nav class="navbar navbar-light bg-info text-light p-4 d-flex justify-content-center ">
        <div class="container-fluid">
          <a class="navbar-brand text-light fs-1"> <i class="fa-brands fa-github me-2 fs-1"></i>Github-Search</a>
          
            <div class="lin bg-light d-flex  px-5 rounded-pill" >
              <a class="nav-link active fs-6 text-danger" aria-current="page" routerLink="profiles">Profile</a>
          
          
            <a class="nav-link active fs-6
             text-danger" aria-current="page" routerLink=repos >Repos</a>
          
            </div>
          
        </div>
      </nav>
    
</div>